.toggle {
  margin: 20px;
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.toggle.active {
  background-color: orange;
}
.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s linear;

}
.spinner.active {
  transform: translateX(50px);
}